.btn-xsmall {
  margin-right: 8px;
}

.btn-small  {
  margin-right: 8px;
}

.categories__tabset {
  white-space: nowrap !important;
  margin-right: 20px;
  margin-left: 20px;
}

.categories__card {
  padding-bottom: unset;
}

.center-center {
  padding: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  white-space: pre-wrap;
}
