<div class="row">
  <div class="col-md-7">
    <nb-card>
      <nb-card-header>График успеваемости</nb-card-header>
      <nb-card-body>
        <sp-d3-advanced-pie></sp-d3-advanced-pie>

      </nb-card-body>


      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

      </div>
    </nb-card>


  </div>


  <div class="col-md-5">
    <nb-card>
      <nb-card-header>Заказы</nb-card-header>
      <nb-card-body>

        <sp-d3-line></sp-d3-line>

      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Cоотношение пользователей</nb-card-header>
      <nb-card-body>

        <sp-d3-bar></sp-d3-bar>

      </nb-card-body>
    </nb-card>

  </div>

</div>
