form {
  margin-top: 15px;
}

.formButtons { //FIXME:Поправить форму
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 10px;
}

.imageForm {
  display: grid;
  .imageInput{

  }
  .imageButtons {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 10px;
  }

}

// .imageButtons {
//   grid-template-columns: repeat(2, 1fr);
//   grid-column-gap: 30px;
//   margin-bottom: 10px;
// }


