.main-button {
  display: block;
  margin: 20px auto;
}

.progress-area {
  margin-bottom: 20px;
}

.icon-action {
  font-size: 30px;
}

.button-action {
  padding: 0 !important;
  margin-right: 20px;
}

td {
  vertical-align: middle;
}
