.center-center {
  padding: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  white-space: pre-wrap;
}

.total-price {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}

.action-button {
  font-size: 25px !important;
}
