<div [nbSpinner]="isSpinnerAvailable && !positionList">

  <button
    *ngIf="!isActionDetails"
    nbButton
    ghost
    status="info"
    class="d-block mx-auto"
    (click)="createPosition()"
  >
    Добавить позицию
  </button>
  
  <br>
  
  <nb-list *ngIf="positionList.length; else noPositions">
    <nb-list-item
      *ngFor="let positionObj of positionList"
      class="d-flex justify-content-between align-items-center"
    >
      <span class="col-sm-2">{{ positionObj.product.name }}</span>
      <span class="col-sm-2"> <b>x</b> </span>
      <span class="col-sm-2">{{ positionObj.productNumber }} шт.</span>
      <span class="col-sm-2"> <b>=</b> </span>
      <span class="col-sm-2">{{ positionObj.itemPrice }} тг.</span>
  
      <button
        class="col-sm-1 action-button"
        *ngIf="!isActionDetails"
        nbButton
        ghost
        status="warning"
        size="tiny"
        (click)="updatePosition(positionObj)"
      >
        <i class="nb-edit"></i>
      </button>

      <button
        class="col-sm-1 action-button"
        *ngIf="!isActionDetails"
        nbButton
        ghost
        status="danger"
        size="tiny"
        (click)="deletePosition(positionObj)"
      >
        <i class="nb-trash"></i>
      </button>
    </nb-list-item>
  </nb-list>
  
  <ng-template #noPositions>
    <br>
    <div class="text-center">
      Нет позиций
    </div>
  </ng-template>
  
  <br>
  
  <div class="total-price">
    Стоимость заказа: {{ totalPrice }} тг.
  </div>

</div>
